@use "./variables" as *;

// Global Styles
html,
body,
h1,
h2,
h3,
h4,
p,
a,
ul {
	padding: 0;
	margin: 0;
}

nav ul {
	list-style: none;
}

textarea {
	resize: none;
}

img {
	height: auto;
	width: 100%;
}

.wrapper {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

// Outlined Button Styles -------------------
.button-outline,
.link-outline {
	display: inline-block;
	padding: 10px 15px;
	color: $navyBlue;
	background-color: $lightLilac;
	border: 3px solid $navyBlue;
	border-radius: 2px;
	box-shadow: 8px 8px 0px $navyBlue;
	transition: 500ms;
}

.button-outline:hover,
.button-outline:focus,
.link-outline:hover,
.link-outline:focus {
	color: $navyBlue;
	background-color: $accentOrange;
	border: 3px solid $navyBlue;
	box-shadow: 8px 8px 0px $navyBlue;
}

.button-outline:active,
.link-outline:active {
	transform: translateX(4px) translateY(4px);
	box-shadow: 4px 4px 0px $navyBlue;
}

// End of Outlined Button Styles ---------------