@use "./variables" as *;

header {
    background: linear-gradient(180deg, rgba(229, 209, 247, 1) 0%, rgba(181, 174, 241, 1) 90%);
    background-image: url(../assets/fiona-freemark-cloud-background-lavender.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    position: relative;
}

// Mobile Menu Button
.menu-button {
    display: none;
    position: fixed;
    width: 32px;
    height: 30px;
    top: 30px;
    right: 30px;
    transition: 300ms;
    z-index: 20;

    &:hover,
    &:focus {
        opacity: 0.5;
        scale: 0.9;
    }
}

// Hamburger menu default styles:
.menu-open {
    content: " ";
    position: absolute;
    width: 30px;
    height: 3px;
    top: 6px;
    background-color: $navyBlue;
    border-radius: 2px;
    transition: 300ms;
}

// Spacing the menu lines
.line-2 {
    top: 14px;
}

.line-3 {
    top: 22px;
}

// Hamburger styled as an "X":
.menu-close {
    .line-1 {
        rotate: 45deg;
        top: 14px;
    }

    .line-2 {
        rotate: -45deg;
    }

    .line-3 {
        opacity: 0;
    }
}

// Navigation Styles
.nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.nav-link {
    padding: 10px 15px;
}

// Heading Container Styles
.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    height: calc(100vh - 40px);

    h2 {
        padding: 2.5% 0 1.5%;
    }

    a {
        align-self: flex-start;
        margin-top: 2%;
    }
}