@use "./variables" as *;

/* Navigation Skip Link */
.skip-link {
    position: absolute;
    left: -1000px;
    top: -0px;
    z-index: 999;
    background: $transparent;
    color: $black;
    font-size: $fs-default;
    padding: 5px;
    border: 1px solid $black;
}

.skip-link:focus {
    left: 0;
    color: $black;
}

// Header Section
header {
    background: $white;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 715px;
    position: relative;
}

// Mobile Menu Button
.menu-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    top: 30px;
    right: 25px;
    z-index: 20;
    padding: 0;
    margin: 0;
    border: none;
    background-color: $white;
    transition: 300ms ease-in-out;

    &:hover,
    &:focus {
        opacity: 0.9;
        background-color: $pink;
        scale: 0.9;
    }
}

// Hamburger menu default styles:
.menu-open {
    content: " ";
    position: absolute;
    width: 30px;
    height: 3px;
    top: 6px;
    left: 3px;
    background-color: $black;
    transition: 300ms;
}

// Spacing the menu lines:
.line-2 {
    top: 14px;
}

.line-3 {
    top: 22px;
}

// Hamburger styled as an "X":
.menu-close {
    .line-1 {
        rotate: 45deg;
        top: 14px;
    }

    .line-2 {
        rotate: -45deg;
    }

    .line-3 {
        opacity: 0;
    }
}

// Navigation Styles
.nav-container {
    display: flex;
    justify-content: flex-end;
}

.nav-menu,
.ff-logo-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}

.nav-link {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: $fs-small;
    transition: 300ms;
    border: 2px solid $transparent;
}

.nav-link:hover,
.nav-link:focus {
    border: 2px solid $black;
}

// Heading Content Styles

.heading-cont {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        text-align: center;
    }

    h2 {
        padding: 5% 0;
        text-align: center;
    }


    .shape-smooth {
        left: 0;
        bottom: 15%;
        border-radius: 0 40% 0 40%;
        background-color: $blush;
    }

    .shape-pie {
        right: -15rem;
        top: -3rem;
        clip-path: circle(50% at 0% 100%);
        background-color: $red;
    }

    .shape-arrow {
        top: 20rem;
        left: 5rem;
    }
    .shape-arrow-1 {
        bottom: 20rem;
        right: 5rem;
    }
}
