@use "./variables" as *;

// ABOUT ME SECTION -----------------------------------

.about-me-section {
	background-color: $neutralOrange;
	padding: 10% 0;
}

.about-me-container {
	display: flex;
}

.about-me-img-container {
	display: flex;
	flex: 35%;
	margin-top: 1%;

	img {
		object-fit: cover;
		object-position: 45%;
		width: 85%;
		border-radius: 50% 50% 0 0;
		height: 350px;
		width: 320px;
		padding: 2%;
		border: 3px solid $lightLilac;
		box-shadow: 5px 5px 0px $lightLilac;
	}
}

.about-me-heading {
	color: $accentOrange;
}

.about-me-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-basis: 60%;
	flex-wrap: wrap;
}

.about-me-text {
	padding-bottom: 2%;
	font-size: 1.8rem;
}

.about-titles {
	margin-bottom: 3%;
}

.span-accent {}


// END OF ABOUT ME SECTION ---------------------------
// SKILLS SECTION ------------------------------------

.skills-section {
	background-color: $navyBlue;
	padding: 10% 0;

	h3,
	p {
		color: $lightLilac;
	}
}

.skills-container {
	display: flex;
	flex-direction: column;
}

.skills-icon-container {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
	flex-wrap: wrap;
	padding: 5% 0;
}

.icon-box {
	flex-basis: 12%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// END OF SKILLS SECTION -----------------------------
// PROJECTS SECTION ----------------------------------

.projects-section {
	padding: 10% 0;
	background-color: $neutralOrange;
}

.proj-heading {
	color: $accentOrange;
}

.proj-container {
	padding: 2% 0;
}

.proj-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 4% 0;
	position: relative;
}

.proj-box-1::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: $lightLilac;
	position: absolute;
	bottom: -8%;
}

.proj-img-container {
	flex-basis: 28%;
	justify-content: center;
	min-width: 320px;
	display: flex;
}

.proj-text-container {
	flex-basis: 58%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.proj-box-2 {
	padding-top: 5%;
	margin-top: 5%;
}

.creative-img,
.animal-match-img {
	object-fit: cover;
	max-width: 100%;
	height: 250px;
	min-width: 350px;
	padding: 2%;
	border: 3px solid $lightLilac;
	opacity: 100%;
	transition: 300ms;
	border-radius: 2px;
	// border-radius: 50% 50% 0 0;
	box-shadow: 5px 5px 0px $lightLilac;
	position: relative;
}

.creative-img:hover,
.animal-match-img:hover,
.creative-img:focus,
.animal-match-img:focus {
	opacity: 50%;
	border: 3px solid $accentOrange;
	box-shadow: 5px 5px 0px $accentOrange;
}

// .creative-img {
//     border-radius: 50% 1% 1% 1%;
// }

.animal-match-img {
	// border-radius: 1% 1% 50% 1%;
	object-position: 0 10%;
}



.proj-desc,
.proj-skills {
	margin: 4% 0;
}

.proj-skills {
	display: flex;
	flex-wrap: wrap;
	padding: 1% 0;
	margin-bottom: 5%;

	li {
		color: $navyBlue;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.8rem;
		padding-right: 2%;
	}
}

.proj-link:first-of-type {
	margin-right: 5%;
}



// END OF PROJECTS SECTION ---------------------------
// CONTACT SECTION -----------------------------------

.contact-section {
	background-color: $darkLilac;
	padding: 10% 0;
}

.contact-outer-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact-left-box {
	flex-basis: 30%;
}

.contact-right-box {
	flex-basis: 70%;

	a {
		margin-left: 10%;
	}
}

.contact-body {
	padding: 3% 0 8% 0;
}

.contact-icon-box {
	display: flex;
	flex-direction: row;
	align-items: center;

}

.contact-icon-box i {
	color: $neutralOrange;
	font-size: 3rem;
	margin: 5px;
	padding: 5px;
	transition: 300ms;
	scale: 1;
}

.contact-icon-box i:hover,
.contact-icon-box i:focus {
	color: $lightPink;
	scale: 0.8;
}

.contact-icon-box .fa-linkedin {
	margin-left: 0;
	padding-left: 0;
}

.contact-icon-box .fa-calendar {
	margin-right: 0;
	padding-right: 0;
}

.contact-form {
	display: flex;
	flex-direction: column;
	padding: 5% 0 5% 10%;
	label {
		margin: 2% 0 1%;
	}
}

.client-name,
.client-email,
.client-message {
	padding: 10px;
	background-color: $neutralOrange;
	border: $neutralOrange;
}

.form-button {
	align-self: flex-start;
	margin-top: 2%;
}

// END OF CONTACT SECTION ----------------------------
// FOOTER SECTION ------------------------------------

footer {
	background-color: $navyBlue;
}

.footer-container {
	padding: 2% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}

footer p {
	color: $lightLilac;
}