@use "./variables" as *;

// ABOUT ME SECTION -----------------------------------

.about-me-section {
    background-color: $white;
    padding: 10% 0;

}

.about-me-container {
    display: flex;
}

.about-me-img-container {
    display: flex;
    flex: 35%;

    img {
        object-fit: cover;
        object-position: 45%;
        width: 85%;
        border-radius: 50% 50% 0 0;
        height: 350px;
        width: 320px;
        padding: 5%;
        border: 3px solid $darkLilac;
    }
}

.about-me-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 60%;
    flex-wrap: wrap;
}


// END OF ABOUT ME SECTION ---------------------------
// SKILLS SECTION ------------------------------------

.skills-section {
    background-color: $navyBlue;
    padding: 10% 0;

    h3,
    p {
        color: $white;
    }
}

.skills-container {
    display: flex;
    flex-direction: column;
}

.skills-icon-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 5% 0;
}

.icon-box {
    flex-basis: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// END OF SKILLS SECTION -----------------------------
// PROJECTS SECTION ----------------------------------

.projects-section {
    padding: 10% 0;
}

.proj-heading {
    color: $accentOrange;
}

.proj-container {
    padding: 5% 0;

}

.proj-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.proj-img-container {
    flex-basis: 48%;
    min-width: 320px;
    display: flex;
}

.proj-box-2 {
    .proj-img-container {
        justify-content: flex-end;
    }
}

.creative-img,
.animal-match-img {
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    width: 400px;
    padding: 5%;
    border: 3px solid $lightLilac;
    // outline: 5px solid $darkLilac;
    opacity: 100%;
    transition: 300ms;
    // border-radius: 50% 2% 2% 2%;
    box-shadow: 12px 12px 0px $lightLilac;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    // box-shadow: 0px 0px 0 5px $white, 0px 0px 0 5px $lightLilac, 0px 0px 0 5px $white, 0px 0px 0 15px $lightLilac;
    position: relative;
}

.creative-img {
    border-radius: 50% 1% 1% 1%;
}

.animal-match-img {
    border-radius: 1% 1% 50% 1%;
    object-position: 0 15%;
}



img:hover,
img:focus {
    opacity: 50%;
    border: 3px solid $accentOrange;
    box-shadow: 12px 12px 0px $accentOrange;
}

.proj-text-container {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
}

.proj-desc,
.proj-skills {
    margin: 3% 0;
}

.proj-skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
		padding: 2% 0;

    li {
        color: $accentOrange;
        text-transform: uppercase;
        font-weight: 600;
    }
}


.proj-link:first-of-type {
    margin-right: 5%;
}





// END OF PROJECTS SECTION ---------------------------
// CONTACT SECTION -----------------------------------

.contact-section {
    background-color: $darkLilac;
    padding: 10% 0;
}

.contact-icon-box i {
    color: $navyBlue;
    font-size: 3rem;
    margin: 5px;
    padding: 5px;
}

.contact-icon-box .fa-linkedin {
    margin-left: 0;
    padding-left: 0;
}

.contact-outer-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-left-box {
    flex-basis: 30%;
}

.contact-right-box {
    flex-basis: 70%;

    a {
        margin-left: 10%;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 10%;
}

.client-name,
.client-email,
.client-message {
    padding: 10px;
}

textarea {
    resize: none;
}

.form-button {
    margin-left: 10%;
}


// END OF CONTACT SECTION ----------------------------
// FOOTER SECTION ------------------------------------

footer {
    background-color: $accentOrange;
}

.footer-container {
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

footer p {
    color: $white;
}