@use "./variables" as *;

// --------------- 1100px ------------------------
@media (max-width: 1100px) {

  // GLOBAL STYLES ----------
  .wrapper {
    width: 85%;
  }


  h1 {
    font-size: $fs-3xl;
  }

  h3 {
    font-size: $fs-2xl;
  }

  h2,
  h4 {
    font-size: $fs-med;
  }

  // ABOUT ME SECTION ----------
  p,
  label,
  textarea,
  li,
  input[type="email"],
  input[type="text"] {
    line-height: 2.5rem;
  }

  // SKILLS SECTION ----------
  .skills-icon-container {
    justify-content: center;
  }

  .icon-box {
    flex-basis: 25%;
  }

  i {
    font-size: $fs-3xl;
  }

  // PROJECT SECTION ----------
  .proj-box-1::after {
    bottom: 0;
  }


}

// --------------- 1100px --------------------------
// --------------- 800px ---------------------------
@media (max-width: 800px) {

  // GLOBAL STYLES ----------
  h1 {
    font-size: $fs-3xl
  }

  // Decorative Shapes
  .shape-smooth,
  .shape-arch,
  .shape-line,
  .shape-triangle,
  .shape-square,
  .shape-circle {
    position: absolute;
    z-index: -10;
    width: 10rem;
    height: 10rem;
  }

  .shape-pie {
    width: 20rem;
    height: 20rem;
  }

  // .shape-arrow,
  // .shape-arrow-1 {
  //   width: 4em;
  // }

  // HEADER SECTION ----------
  .menu-button {
    display: block;
    cursor: pointer;
  }

  .nav-container.show-nav {
    top: 0;
  }

  .nav-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -120%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, $white 0%, $pink 90%);
    z-index: 30;
    transition: 500ms;
  }

  .nav-menu {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      padding: 2% 0;
    }

    a {
      font-size: $fs-lrg;
      line-height: 6rem;
    }
  }

  .heading-cont {
    .shape-pie {
        right: -17%;
        top: 1%;
    
        &.pie-2 {
          right: -15%;
          top: 3%;
        }
      }
  }


  // ABOUT ME SECTION -----------
  .about-me-container {
    flex-direction: column;
  }

  .about-me-img-container {
    flex-basis: 100%;
    width: 80%;
  }

  .about-me-text-container {
    flex-basis: 100%;
    padding: 5% 0;
    // text-align: justify;
    margin-left: 0;
  }

  .about-me-text {
    margin: 1% 0;
  }

  // SKILLS SECTION ----------
  .icon-box {
    flex-basis: 19%;
    margin: 0 1%;
  }

  i {
    font-size: $fs-2xl;
  }

  .skills-container {
    .shape-pie {
      right: -6rem;
      top: -12rem;
    }
    .shape-circle {
      right: 0rem;
      top: -4rem
    }
  }


  // PROJECTS SECTION ----------

  .proj-container {
    flex-direction: column;
  }

  .proj-box {
    width: 100%;
    a.proj-link:nth-of-type(2) {
      margin-bottom: 0;
    }
  }


  .proj-outer-box {
    .shape-circle {
      right: -2rem;
    }

    .shape-smooth {
      right: 4rem;
      top: -3rem;
    }
  }

  // CONTACT SECTION -----------------
  .contact-section {
    padding: 10% 0 20% 0;
  }

  .contact-outer-box {
    flex-direction: column;
  }

  .contact-left-box {
    flex-basis: 100%;
  }

  .contact-body {
    text-align: justify;
  }

  .contact-icon-box {
    justify-content: space-evenly;
    flex-wrap: wrap;

    i {
      font-size: $fs-xl;
    }
  }

  .contact-right-box {
    width: 100%;
  }

  .contact-form {
    padding: 2% 0;
    flex-basis: 100%;
  }

  .client-name,
  .client-email,
  .client-message {
    flex-basis: 100%;
    padding: 2% 2%;
  }

  .form-button {
    align-self: flex-start;
    width: auto;
    margin-top: 5%;
  }

  .scroll-top-container {
    right: 46%;
    bottom: 2%;
  }

    .contact-outer-box {
      .shape-pie {
        left: 85%;
        bottom: -24%;
        rotate: 90deg;
      }
  
      .shape-smooth {
        left: 74%;
        bottom: -5%;
        rotate: 180deg;
      }
    }

}

// --------------- 800px -------------------------------
// --------------- 500px -------------------------------
@media (max-width: 500px) {

  // GLOBAL STYLES ----------
  h1 {
    font-size: $fs-2xl;
  }

  h3 {
    font-size: $fs-xl;
  }

  h2,
  h4 {
    font-size: $fs-small;
  }

  p,
  .juno-link {
    font-size: $fs-default;
  }
  // Decorative Shapes
  .shape-smooth,
  .shape-arch,
  .shape-line,
  .shape-triangle,
  .shape-square,
  .shape-circle,
  .shape-pie {
display: none;
  }

  // HEADING SECTION -----------
  .heading-cont {
    h1 {
      font-size: $fs-xl;
    }
    h2 {
      font-size: $fs-default;
      padding: 8% 0;
    }
    a.link-outline {
      font-size: $fs-default;
    }
    .shape-smooth,
    .shape-pie {
      display: block;
    }

    .shape-pie {
      right: -30%;
      top: 0;
      &.pie-2 {
        right: -27%;
        top:1%;
      }
    }
    
  }

  // ABOUT ME SECTION ----------
  .fiona-portrait {
    min-width: 120px;
  }

  .about-me-text {
    padding: 2% 0;
  }

  // SKILLS SECTION ----------
  .icon-box {
    flex-basis: 30%;
  }

  i {
    font-size: $fs-2xl;
  }

  // PROJECT SECTION ----------
  .proj-skills {
    li {
      font-size: $fs-default;
    }
  }

  .proj-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .proj-link {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 8%;
  }

  .proj-link:first-of-type {
    margin-right: 0;
  }

  .proj-outer-box {
    .shape-circle {
      right: -2rem;
    }

    .shape-smooth {
      right: 4rem;
      top: -3rem;
    }
  }

  // CONTACT SECTION ----------
  .contact-section {
    padding-bottom: 20%;
  }

  .contact-icon-box i {
    font-size: $fs-lrg;
  }

  .contact-icon-box .fa-linkedin {
    margin-left: 5px;
    padding-left: 5px;
  }

  .contact-icon-box .fa-calendar {
    margin-right: 5px;
    padding-right: 5px;
  }

  .form-button {
    width: 100%;
  }

}