@use "./variables" as *;

// PROJECTS SECTION ----------------------------------

.projects-section {
  padding: 10% 0;
  background-color: $white;
}

.proj-heading {
  color: $black;
}

.proj-outer-box {
  position: relative;
    .shape-circle {
        background-color: $pink;
        z-index: 10;
        right: -5rem;
        top: -1rem;
      }
    
      .shape-smooth {
        background-color: $red;
        z-index: 10;
        right: 5rem;
        top: -5rem;
      }
}

.proj-container {
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

//  PROJECT BOX STYLES----------
// * {
//   border: 1px solid black;
// }

.proj-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 46%;
    margin: 5% 0;
}

.proj-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 520px;
  padding: 5%;
  background-color: $grey;
}

.proj-desc,
.proj-skills {
  margin: 3% 0 2% 0;
}

.proj-skills {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 5%;

  li {
    color: $black;
    text-transform: uppercase;
    font-weight: $fw-semi-bold;
    font-size: $fs-small;
    padding-right: 2%;
  }
}

.proj-link:first-of-type {
  margin-right: 5%;
}

// PROJECT IMAGE STYLES ----------
.proj-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 32%;
  margin: -6px -2px;
}

.creative-img,
.animal-match-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  position: relative;
  transition: 300ms;
  border: 2px solid $grey;
}

.creative-img:hover,
.animal-match-img:hover,
.creative-img:focus,
.animal-match-img:focus {
  opacity: 50%;
}
