@use "./variables" as *;

// SKILLS SECTION ------------------------------------

.skills-section {
  background-color: $navy-blue;
  padding: 10% 0 15%;

  h3,
  p {
    color: $light-lilac;
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-icon-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 0% 1%;
  transition: 500ms;
  i {
    color: $dark-lilac;
  }
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 25%;
  min-height: 130px;
}

.fa-brands,
.devicon-firebase-plain,
.fa-universal-access {
  padding: 20px 10px;
}
