@use "./variables" as *;

// SKILLS SECTION ------------------------------------

.skills-section {
  background-color: $navyBlue;
  padding: 10% 0;

  h3,
  p {
    color: $lightLilac;
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-icon-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 0% 1%;
}

.icon-box {
  flex-basis: 10%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fa-brands,
.devicon-firebase-plain {
  padding: 20px 10px;
}
