@use "./variables" as *;

// Global Typography

html {
    font-size: $fs-global;
    color: $navyBlue;
}

h1,
h3 {
    font-family: $ff-headings;
    color: $navyBlue;
    text-transform: lowercase;
    font-weight: 700;
    font-size: $fs-logo-h1;
}


h2,
h4 {
    font-family: $ff-body;
    font-size: $fs-h2;
    font-weight: 400;
    color: $navyBlue;
    text-transform: uppercase;
}

p,
label,
textarea,
li,
input[type="email"],
input[type="text"] {
    font-family: $ff-body;
    font-size: 1.8rem;
    font-weight: 400;
    color: $navyBlue;
    line-height: 3rem;
}

label,
button {
    font-weight: 400;
}

a,
button {
    font-family: $ff-body;
    font-size: $fs-body;
    color: $navyBlue;
    text-decoration: none;
}

a:hover,
a:focus {
    color: $accentOrange;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
}

i {
    color: $lightPink;
    font-size: $fs-logo-h1;
}

ul {
    list-style-type: none;
}

