// Colours
$light-lilac: #e5d1f7;
$transparent-lilac: #e5d1f7da;
$dark-lilac: #B6B0EF;
$navy-blue: #01223D;
$deep-purple: #43136c;
$transparent: #00000000;
$off-white: #fffcfa;
// Fonts Sizes
$fs-global: 62.5%;
$fs-4xl: 10rem; 
$fs-3xl: 8rem; 
$fs-2xl: 6rem;
$fs-xl: 5rem;
$fs-lrg: 3rem;
$fs-med: 2.2rem;
$fs-small: 1.8rem;
$fs-default: 1.6rem;

// Font Weights
$fw-default: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// Font Family
$ff-headings: 'Abril Fatface', cursive;
$ff-body: 'Poppins',sans-serif; /* in $fw-default/ 400 */
