// Colours
$lightLilac: #E5D1F7;
$darkLilac: #c0bbee;
$lightPink:#E5D1F7 /* #FDCCE9 */; 
$navyBlue: #122952;
$accentOrange: #FF8600;
$white: #FFF;
$black: #000;
$transparent: #00000000;
$neutralOrange: #fefbf9; // white

// Fonts Sizes
$fs-global: 62.5%;
$fs-logo-h1: 10rem;
$fs-h1-media: 8rem;
$fs-h1-small: 6rem;
$fs-h1-xsmall: 5rem;
$fs-h2: 3rem;
$fs-h2-media: 2.2rem;
$fs-h2-xsmall: 1.7rem;
$fs-body: 1.6rem;


// Font Family
$ff-headings: 'Cormorant Infant', serif; /* 700 Italic */
$ff-body: 'Montserrat', sans-serif; /* in 400/ 600 */


$neutralOrange: #fffaf7; // white
// $lightPink: #f9dadc; // lightLilac
$burntOrange: #BE410D; //navyBlue 
$cardinal: #D92625; //accentOrange
$darkPlum: #360113; //accejt
// Accent Colours: 
$darkLavender: #7A506A;
$oliveGreen: #62532D;
$mustardYellow: #DCA225;