// Colours
$lightLilac: #E5D1F7;
$darkLilac: #CE98DE;
$navyBlue: #122952;
$accentOrange: #FF8600;
$white: #FFF;
$black: #000;
$transparent: #00000000;

// Fonts Sizes
$fs-global: 62.5%;
$fs-logo-h1: 10rem;
$fs-h2: 3rem;
$fs-body: 1.6rem;

// Font Family
$ff-logo-h1: 'Sarala', sans-serif; /* 400 700 */
$ff-headings: 'Cormorant Infant', serif; /* 400 400Italic 600 600Italic 700 700Italic */
$ff-body: 'Montserrat', sans-serif; /* in 200/ 400/ 600 */
