/* 400 700 */
/* 400 400Italic 600 600Italic 700 700Italic */
/* in 200/ 400/ 600 */
html,
body,
h1,
h2,
h3,
h4,
p,
a,
ul {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
}

textarea {
  resize: none;
}

img {
  height: auto;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  color: #122952;
}

h1,
h3 {
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  color: #122952;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 10rem;
}

h2,
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #122952;
  text-transform: uppercase;
}

p,
label,
textarea,
li,
input[type=email],
input[type=text] {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #122952;
  line-height: 3rem;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #122952;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FF8600;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
}

i {
  color: #FDCCE9;
  font-size: 10rem;
}

ul {
  list-style-type: none;
}

.button-outline,
.link-outline {
  padding: 10px 15px;
  border-radius: 2px;
  color: #122952;
  background-color: #FDCCE9;
  border: 3px solid #FDCCE9;
  -webkit-box-shadow: 8px 8px 5px #122952;
          box-shadow: 8px 8px 5px #122952;
  -webkit-transition: 500ms;
  transition: 500ms;
  display: inline-block;
}

.button-outline:hover,
.button-outline:focus,
.link-outline:hover,
.link-outline:focus {
  color: #122952;
  background-color: #FF8600;
  border: 3px solid #FF8600;
  -webkit-box-shadow: 8px 8px 5px #122952;
          box-shadow: 8px 8px 5px #122952;
}

.button-outline:active,
.link-outline:active {
  -webkit-transform: translateX(4px) translateY(4px);
          transform: translateX(4px) translateY(4px);
  -webkit-box-shadow: 4px 4px 5px #122952;
          box-shadow: 4px 4px 5px #122952;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(229, 209, 247)), color-stop(90%, rgb(181, 174, 241)));
  background: linear-gradient(180deg, rgb(229, 209, 247) 0%, rgb(181, 174, 241) 90%);
  background-image: url(../assets/fiona-freemark-cloud-background-lavender.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 2%;
  position: relative;
}

.header-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-nav-container {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E5D1F7;
  z-index: 10;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.mobile-nav-container ul {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-nav-container li {
  padding: 2% 0;
}
.mobile-nav-container a {
  font-size: 3rem;
  line-height: 6rem;
}

.line-1,
.line-2,
.line-3 {
  content: " ";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 6px;
  background-color: #122952;
  border-radius: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.line-2 {
  top: 14px;
}

.line-3 {
  top: 22px;
}

.menu-button.active .line-1 {
  rotate: 45deg;
  top: 14px;
}
.menu-button.active .line-2 {
  rotate: -45deg;
}
.menu-button.active .line-3 {
  opacity: 0;
}

/* Mobile Menu Button */
.menu-button,
#toggle {
  display: none;
  color: #000;
  position: fixed;
  width: 32px;
  height: 30px;
  top: 30px;
  right: 30px;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 20;
}
.menu-button:hover, .menu-button:focus,
#toggle:hover,
#toggle:focus {
  opacity: 0.5;
}

.nav-link {
  padding: 10px 15px;
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 40px);
}
.heading-container h2 {
  padding: 2.5% 0 1.5%;
}
.heading-container a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2%;
}

.about-me-section {
  background-color: #fffaf7;
  padding: 10% 0;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me-img-container {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  margin-top: 1%;
}

.fiona-portrait {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 45%;
     object-position: 45%;
  width: 90%;
  border-radius: 50% 50% 0 0;
  min-width: 280px;
  padding: 2%;
  border: 3px solid #E5D1F7;
  -webkit-box-shadow: 5px 5px 0px #E5D1F7;
          box-shadow: 5px 5px 0px #E5D1F7;
}

.about-me-heading {
  color: #FF8600;
}

.about-me-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3%;
  margin-left: 5%;
}

.about-me-text {
  padding-bottom: 2%;
  font-size: 1.8rem;
}

.about-titles {
  margin-bottom: 3%;
}

.skills-section {
  background-color: #122952;
  padding: 10% 0;
}
.skills-section h3,
.skills-section p {
  color: #E5D1F7;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0% 1%;
}

.icon-box {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-brands, .devicon-firebase-plain {
  padding: 20px 10px;
}

.projects-section {
  padding: 10% 0;
  background-color: #fffaf7;
}

.proj-heading {
  color: #FF8600;
}

.proj-container {
  padding: 2% 0;
}

.proj-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4% 0;
  position: relative;
}

.proj-box-1::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E5D1F7;
  position: absolute;
  bottom: -6%;
}

.proj-img-container {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4% 20px 6% 0;
}

.proj-text-container {
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proj-box-2 {
  padding-top: 5%;
  margin-top: 5%;
}

.creative-img,
.animal-match-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 250px;
  padding: 2%;
  border: 3px solid #E5D1F7;
  opacity: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 0px #E5D1F7;
          box-shadow: 5px 5px 0px #E5D1F7;
  position: relative;
}

.creative-img:hover,
.animal-match-img:hover,
.creative-img:focus,
.animal-match-img:focus {
  opacity: 50%;
  border: 3px solid #FF8600;
  -webkit-box-shadow: 5px 5px 0px #FF8600;
          box-shadow: 5px 5px 0px #FF8600;
}

.proj-desc,
.proj-skills {
  margin: 3% 0 2% 0;
}

.proj-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1% 0;
  margin-bottom: 5%;
}
.proj-skills li {
  color: #FF8600;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  padding-right: 2%;
}

.proj-link:first-of-type {
  margin-right: 5%;
}

.contact-section {
  background-color: #B5AEF1;
  padding: 10% 0;
}

.contact-outer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-left-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contact-right-box {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.contact-right-box a {
  margin-left: 10%;
}

.contact-body {
  padding: 3% 0 8% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.contact-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icon-box i {
  color: #fffaf7;
  font-size: 3rem;
  margin: 5px;
  padding: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
  scale: 1;
}

.contact-icon-box i:hover,
.contact-icon-box i:focus {
  color: #FDCCE9;
  scale: 0.8;
}

.contact-icon-box .fa-linkedin {
  margin-left: 0;
  padding-left: 0;
}

.contact-icon-box .fa-calendar {
  margin-right: 0;
  padding-right: 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0 5% 10%;
}
.contact-form label {
  margin: 2% 0 1%;
}

.client-name,
.client-email,
.client-message {
  padding: 2%;
  background-color: #fffaf7;
  border: #fffaf7;
}

.form-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2%;
}

footer {
  background-color: #122952;
}

.footer-container {
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer p {
  color: #E5D1F7;
}

@media (max-width: 1100px) {
  .wrapper {
    width: 85%;
  }
  h3 {
    font-size: 8rem;
  }
  h2,
h4 {
    font-size: 2.2rem;
  }
  p,
label,
textarea,
li,
input[type=email],
input[type=text] {
    line-height: 2.5rem;
  }
  .skills-icon-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-box {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  i {
    font-size: 8rem;
  }
  .proj-box-1::after {
    bottom: 0;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 8rem;
  }
  /* Menus hidden so they can be revealed by toggle */
  .header-nav-container {
    display: none;
  }
  .menu-button {
    display: block;
    cursor: pointer;
  }
  /* Toggle For Hidden Menu */
  #toggle:checked + .mobile-nav-container {
    display: block;
    top: 0;
  }
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me-img-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 80%;
  }
  .about-me-text-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 5% 0;
    text-align: justify;
  }
  .about-me-text {
    margin: 1% 0;
  }
  .icon-box {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  i {
    font-size: 6rem;
  }
  .proj-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proj-box-2 {
    padding-top: 10%;
  }
  .proj-text-container {
    text-align: justify;
  }
  .proj-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .proj-skills li {
    font-size: 1.6rem;
  }
  .proj-box-1::after {
    bottom: -4%;
  }
  .contact-outer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-left-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact-body {
    text-align: justify;
  }
  .contact-icon-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-icon-box i {
    font-size: 5rem;
  }
  .contact-right-box {
    width: 100%;
  }
  .contact-form {
    padding: 2% 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .client-name,
.client-email,
.client-message {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 2% 2%;
  }
  .form-button {
    text-align: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    margin-top: 5%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 6rem;
  }
  h2,
h4 {
    font-size: 1.7rem;
  }
  .fiona-portrait {
    min-width: 120px;
  }
  .about-me-text {
    padding: 2% 0;
  }
  .icon-box {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  i {
    font-size: 6rem;
  }
  .proj-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .proj-link {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 8%;
  }
  .proj-link:first-of-type {
    margin-right: 0;
  }
  .contact-section {
    padding-bottom: 15%;
  }
  .contact-icon-box i {
    font-size: 3rem;
  }
  .contact-icon-box .fa-linkedin {
    margin-left: 5px;
    padding-left: 5px;
  }
  .contact-icon-box .fa-calendar {
    margin-right: 5px;
    padding-right: 5px;
  }
}