/* 700 Italic */
/* in $fw-default/ 600 */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
p,
a,
ul {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
}

textarea {
  resize: none;
}

img {
  height: auto;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.button-outline,
.link-outline {
  display: inline-block;
  padding: 10px 15px;
  color: #021535;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #021535;
  z-index: 10;
  border-radius: 2px;
  -webkit-box-shadow: 8px 8px 0px #021535;
          box-shadow: 8px 8px 0px #021535;
  -webkit-transition: 500ms;
  transition: 500ms;
  position: relative;
}

.button-outline:hover,
.button-outline:focus,
.link-outline:hover,
.link-outline:focus {
  color: #021535;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #021535;
  -webkit-box-shadow: 8px 8px 0px #f27100;
          box-shadow: 8px 8px 0px #f27100;
}

.button-outline:active,
.link-outline:active {
  -webkit-transform: translateX(4px) translateY(4px);
          transform: translateX(4px) translateY(4px);
  -webkit-box-shadow: 4px 4px 0px #021535;
          box-shadow: 4px 4px 0px #021535;
}

html {
  font-size: 62.5%;
  color: #021535;
}

h1,
h3 {
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  color: #021535;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 10rem;
}

h2,
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #021535;
  text-transform: uppercase;
}

p,
label,
textarea,
li,
input[type=email],
input[type=text] {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #021535;
  line-height: 3rem;
}

label,
button {
  font-weight: 400;
}

a,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #021535;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f27100;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
}

i {
  color: #edd1f7;
  font-size: 10rem;
}

ul {
  list-style-type: none;
}

/* Navigation Skip Link */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 0px;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  color: #021535;
  font-size: 1.4rem;
  padding: 5px;
  border: 1px solid #021535;
}

.skip-link:focus {
  left: 0;
  color: #021535;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#edd1f7), color-stop(90%, #B6B0EF));
  background: linear-gradient(180deg, #edd1f7 0%, #B6B0EF 90%);
  background-image: url(../assets/fiona-freemark-cloud-background-lavender.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.menu-button {
  display: none;
  position: fixed;
  width: 32px;
  height: 30px;
  top: 30px;
  right: 25px;
  z-index: 20;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 300ms;
  transition: 300ms;
}
.menu-button:hover, .menu-button:focus {
  opacity: 0.5;
  scale: 0.9;
}

.menu-open.scroll-on {
  background-color: #f27100;
}

.menu-open {
  content: " ";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 6px;
  left: 1px;
  background-color: #021535;
  border-radius: 2px;
}

.line-2 {
  top: 14px;
}

.line-3 {
  top: 22px;
}

.menu-close .line-1 {
  rotate: 45deg;
  top: 14px;
}
.menu-close .line-2 {
  rotate: -45deg;
}
.menu-close .line-3 {
  opacity: 0;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2%;
}

.nav-link {
  padding: 10px 15px;
  font-size: 1.7rem;
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 40px);
}
.heading-container h2 {
  padding: 2.5% 0 1.5%;
}
.heading-container a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2%;
}

.about-me-section {
  background-color: #fffcfa;
  padding: 10% 0;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me-img-container {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  margin-top: 1%;
}

.fiona-portrait {
  -o-object-position: 45%;
     object-position: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  min-width: 280px;
  padding: 2%;
  border: 3px solid #edd1f7;
  border-radius: 50% 50% 0 0;
  -webkit-box-shadow: 5px 5px 0px #edd1f7;
          box-shadow: 5px 5px 0px #edd1f7;
}

.about-me-heading {
  color: #f27100;
}

.about-me-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3%;
  margin-left: 5%;
}

.about-me-text {
  padding-bottom: 2%;
  font-size: 1.8rem;
}

.about-titles {
  margin-bottom: 3%;
}

.skills-section {
  background-color: #021535;
  padding: 10% 0;
}
.skills-section h3,
.skills-section p {
  color: #edd1f7;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0% 1%;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.skills-icon-container i {
  color: #B6B0EF;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-height: 130px;
}

.fa-brands,
.devicon-firebase-plain,
.fa-universal-access {
  padding: 20px 10px;
}

.projects-section {
  padding: 10% 0;
  background-color: #fffcfa;
}

.proj-heading {
  color: #f27100;
}

.proj-container {
  padding: 2% 0;
}

.proj-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4% 0;
}

.proj-box-1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -6%;
  background-color: #edd1f7;
}

.proj-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin: 4% 5% 6% 0;
}

.proj-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
}

.proj-box-2 {
  padding-top: 5%;
  margin-top: 5%;
}

.creative-img,
.animal-match-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 250px;
  width: 98%;
  padding: 3%;
  margin-right: 3%;
  position: relative;
  border: 3px solid #edd1f7;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 5px 5px 0px #edd1f7;
          box-shadow: 5px 5px 0px #edd1f7;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.creative-img:hover,
.animal-match-img:hover,
.creative-img:focus,
.animal-match-img:focus {
  opacity: 50%;
  border: 3px solid #f27100;
  -webkit-box-shadow: 5px 5px 0px #f27100;
          box-shadow: 5px 5px 0px #f27100;
}

.proj-desc,
.proj-skills {
  margin: 3% 0 2% 0;
}

.proj-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1% 0;
  margin-bottom: 5%;
}
.proj-skills li {
  color: #f27100;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  padding-right: 2%;
}

.proj-link:first-of-type {
  margin-right: 5%;
}

.contact-section {
  background-color: #B6B0EF;
  position: relative;
  padding: 10% 0;
}

.contact-outer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-left-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contact-right-box {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.contact-right-box a {
  margin-left: 10%;
}

.contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 3% 0 8% 0;
}

.contact-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icon-box i {
  margin: 5px;
  padding: 5px;
  color: #fffcfa;
  font-size: 3rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  scale: 1;
}

.contact-icon-box i:hover,
.contact-icon-box i:focus {
  color: #edd1f7;
  scale: 0.8;
}

.contact-icon-box .fa-linkedin {
  margin-left: 0;
  padding-left: 0;
}

.contact-icon-box .fa-calendar {
  margin-right: 0;
  padding-right: 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0 5% 10%;
}
.contact-form label {
  margin: 2% 0 1%;
}

.client-name,
.client-email,
.client-message {
  padding: 2%;
  background-color: #fffcfa;
  border: #fffcfa;
  border-radius: 2px;
}

.form-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2%;
}

.scroll-top-container {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.scroll-top i {
  font-size: 5rem;
  border: none;
  -webkit-animation: fade 1s infinite ease-in-out;
          animation: fade 1s infinite ease-in-out;
}
.scroll-top i:hover {
  -webkit-animation: fade-hover 1s infinite ease-in-out;
          animation: fade-hover 1s infinite ease-in-out;
}

@-webkit-keyframes fade {
  0%, 100% {
    color: #edd1f7;
  }
  50% {
    color: #021535;
  }
}

@keyframes fade {
  0%, 100% {
    color: #edd1f7;
  }
  50% {
    color: #021535;
  }
}
@-webkit-keyframes fade-hover {
  0%, 100% {
    color: #edd1f7;
  }
  50% {
    color: #f27100;
  }
}
@keyframes fade-hover {
  0%, 100% {
    color: #edd1f7;
  }
  50% {
    color: #f27100;
  }
}
footer {
  background-color: #021535;
}

.footer-container {
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer p {
  color: #edd1f7;
}

@media (max-width: 1100px) {
  .wrapper {
    width: 85%;
  }
  h3 {
    font-size: 8rem;
  }
  h2,
h4 {
    font-size: 2.2rem;
  }
  p,
label,
textarea,
li,
input[type=email],
input[type=text] {
    line-height: 2.5rem;
  }
  .skills-icon-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icon-box {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  i {
    font-size: 8rem;
  }
  .proj-box-1::after {
    bottom: 0;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 8rem;
  }
  .menu-button {
    display: block;
    cursor: pointer;
  }
  .nav-container.show-nav {
    top: 0;
  }
  .nav-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -120%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(229, 209, 247)), color-stop(90%, rgb(181, 174, 241)));
    background: linear-gradient(180deg, rgb(229, 209, 247) 0%, rgb(181, 174, 241) 90%);
    z-index: 30;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  .nav-menu {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-menu li {
    padding: 2% 0;
  }
  .nav-menu a {
    font-size: 3rem;
    line-height: 6rem;
  }
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me-img-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 80%;
  }
  .about-me-text-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 5% 0;
    text-align: justify;
    margin-left: 0;
  }
  .about-me-text {
    margin: 1% 0;
  }
  .icon-box {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  i {
    font-size: 6rem;
  }
  .proj-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proj-box-2 {
    padding-top: 10%;
  }
  .proj-text-container {
    text-align: justify;
  }
  .proj-box-1::after {
    bottom: -4%;
  }
  .contact-section {
    padding: 10% 0 15% 0;
  }
  .contact-outer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-left-box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact-body {
    text-align: justify;
  }
  .contact-icon-box {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-icon-box i {
    font-size: 5rem;
  }
  .contact-right-box {
    width: 100%;
  }
  .contact-form {
    padding: 2% 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .client-name,
.client-email,
.client-message {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 2% 2%;
  }
  .form-button {
    text-align: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    margin-top: 5%;
  }
  .scroll-top-container {
    right: 46%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 6rem;
  }
  h3 {
    font-size: 6rem;
  }
  h2,
h4 {
    font-size: 1.7rem;
  }
  .fiona-portrait {
    min-width: 120px;
  }
  .about-me-text {
    padding: 2% 0;
  }
  .icon-box {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  i {
    font-size: 6rem;
  }
  .proj-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .proj-skills li {
    font-size: 1.6rem;
  }
  .proj-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .proj-link {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 8%;
  }
  .proj-link:first-of-type {
    margin-right: 0;
  }
  .contact-section {
    padding-bottom: 15%;
  }
  .contact-icon-box i {
    font-size: 3rem;
  }
  .contact-icon-box .fa-linkedin {
    margin-left: 5px;
    padding-left: 5px;
  }
  .contact-icon-box .fa-calendar {
    margin-right: 5px;
    padding-right: 5px;
  }
}