/* 400 700 */
/* 400 400Italic 600 600Italic 700 700Italic */
/* in 200/ 400/ 600 */
html,
body,
h1,
h2,
h3,
p,
a,
ul {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.button-outline {
  padding: 10px 15px;
  background-color: #E5D1F7;
  color: #122952;
  border: 3px solid #122952;
  border-radius: 1px;
  -webkit-box-shadow: 8px 8px 0px #122952;
          box-shadow: 8px 8px 0px #122952;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: inline-block;
}

.button-outline:hover,
.button-outline:focus {
  background-color: #FF8600;
}

.button-outline:active {
  -webkit-transform: translateX(4px) translateY(4px);
          transform: translateX(4px) translateY(4px);
  -webkit-box-shadow: 4px 4px 0px #122952;
          box-shadow: 4px 4px 0px #122952;
}

html {
  font-size: 62.5%;
  color: #000;
}

h1, h3 {
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  color: #122952;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 10rem;
}

h2, h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #122952;
  text-transform: uppercase;
}

p, label, textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #122952;
  line-height: 3rem;
}

a, button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #122952;
  text-decoration: none;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 400;
}

i {
  color: #E5D1F7;
  font-size: 10rem;
}

header {
  background-color: #E5D1F7;
  height: 100vh;
  padding-top: 2%;
  position: relative;
}

.header-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-link {
  padding: 10px 15px;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 40px);
}
.logo-container h2 {
  padding: 2% 0;
}
.logo-container a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.floating-icon-box {
  position: fixed;
  right: 2%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(229, 209, 247, 0.9176470588);
  border: 3px solid #122952;
  border-radius: 2px;
}
.floating-icon-box i {
  color: #122952;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
}

.about-me-section {
  background-color: #FFF;
  padding: 10% 0;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
}
.about-me-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 45%;
     object-position: 45%;
  width: 85%;
  border-radius: 50% 50% 0 0;
}

.about-me-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-section {
  background-color: #122952;
  padding: 10% 0;
}
.skills-section h3, .skills-section p {
  color: #FFF;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 0;
}

.icon-box {
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section {
  background-color: #B5AEF1;
  padding: 10% 0;
}

.contact-icon-box i {
  color: #122952;
  font-size: 3rem;
  margin: 5px;
  padding: 5px;
}

.contact-icon-box .fa-linkedin {
  margin-left: 0;
  padding-left: 0;
}

.contact-outer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-left-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contact-right-box {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.contact-right-box a {
  margin-left: 10%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0 5% 10%;
}

.client-name,
.client-email,
.client-message {
  padding: 10px;
}

textarea {
  resize: none;
}

.form-button {
  margin-left: 10%;
}

footer {
  background-color: #FF8600;
}

.footer-container {
  padding: 1% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer p {
  color: #FFF;
}